@import "tailwindcss";
@import "tw-animate-css";
/*
---break---
*/
@custom-variant dark (&:is(.dark *));

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
*/

body {
  background: var(--background);
  color: var(--foreground);
}

/*
---break---
*/

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*
---break---
*/

:root {
  --background: #fff0f1;
  --foreground: #570122;
  --primary: #f0295a;
  --primary-foreground: #fff0f1;

  --card: #ffcfd4;
  --card-foreground: #7d022d;

  --popover: #ffa6b3;
  --popover-foreground: #570122;

  --secondary: #ff7d95;
  --secondary-foreground: #570122;

  --muted: #ffcfd4;
  --muted-foreground: #a30b3b;

  --accent: #ff7d95;
  --accent-foreground: #570122;

  --destructive: #c9184a;
  --border: #ffa6b3;
  --input: #ffcfd4;
  --ring: #f0295a;

  --chart-1: #ff7d95;
  --chart-2: #fc5378;
  --chart-3: #f0295a;
  --chart-4: #c9184a;
  --chart-5: #a30b3b;

  --sidebar: #fff0f1;
  --sidebar-foreground: #7d022d;
  --sidebar-primary: #f0295a;
  --sidebar-primary-foreground: #fff0f1;
  --sidebar-accent: #ff7d95;
  --sidebar-accent-foreground: #7d022d;
  --sidebar-border: #ffcfd4;
  --sidebar-ring: #f0295a;

  --radius: 0.625rem;
}

/*
---break---
*/

.dark {
  --background: #29131a;
  --foreground: #facbd0;
  --primary: #f0295a;
  --primary-foreground: #29131a;

  --card: #411522;
  --card-foreground: #facbd0;

  --popover: #561a29;
  --popover-foreground: #facbd0;

  --secondary: #771d34;
  --secondary-foreground: #facbd0;

  --muted: #411522;
  --muted-foreground: #f8a2ae;

  --accent: #771d34;
  --accent-foreground: #facbd0;

  --destructive: #cf2650;
  --border: #561a29;
  --input: #411522;
  --ring: #f0295a;

  --chart-1: #a32242;
  --chart-2: #cf2650;
  --chart-3: #e54d6e;
  --chart-4: #f3788f;
  --chart-5: #f8a2ae;

  --sidebar: #411522;
  --sidebar-foreground: #facbd0;
  --sidebar-primary: #f0295a;
  --sidebar-primary-foreground: #29131a;
  --sidebar-accent: #771d34;
  --sidebar-accent-foreground: #facbd0;
  --sidebar-border: #561a29;
  --sidebar-ring: #f0295a;
}

/*
---break---
*/

/*@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  
}*/

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans text-foreground bg-background;
  }
  h1 {
    @apply text-4xl md:text-6xl xl:text-7xl font-bold;
  }
  h2 {
    @apply text-xl lg:text-3xl font-medium;
  }
  h3 {
    @apply text-2xl lg:text-4xl font-medium;
  }

  a {
    @apply cursor-pointer;
  }

  button {
    @apply cursor-pointer bg-rose-600 hover:bg-rose-700;
  }
}
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}
